#navbarSupportedContent {
    justify-content: space-between;
}

#navbar {
    
    background-color: var(--secondary) !important;
    color: var(--primary);

    >div>a {
        color: var(--primary);
    }

    >div>img {
        border-radius: 5px;
        background-color: white;
        width: 50px;
    }
}

.header {
    background-color: var(--secondary) !important;
    height: 80px !important;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}
.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
     box-shadow: none !important; 
}
.navbar-toggler {
    width: auto !important;
    border: none !important;
    margin-right: 2%;
    margin-top: 2%;
    line-height:0 !important;
}
.btn{
    text-decoration: none !important;
    box-shadow:none;
}

@media (width <= 768px) {
  img {
    height: auto !important;
    }
.icon_prfl{
    display: none;
}
   
}

