body {
    background-color: aliceblue !important;
}

.section_1 {
    padding-bottom: 2%;
    padding-left: 10% !important;
    padding-right: 10% !important;
    width: 100%;
    margin-left: 10%;
    gap: 10rem;

    >div {
        gap: 20rem;

        .item_btn {
            >a {
                background-color: var(--secondary);
                border-color: var(--secondary) !important;
                width: 100px;
            }

            margin: 2%;
            display: flex;
            justify-content: space-between;
            gap: 10rem;
            text-decoration: none !important;
        }
    }

}


.specialties {
    padding: 2% 12% 5% 12%;
    width: 100%;
    background-color: white;

    h2 {
        margin-left: 8%;
        margin-bottom: 5%;
    }

    div>div {
        width: 300px;
        padding: 2%;
        display: grid;
        justify-content: center;
        justify-items: center;
        text-align: center;
        border: 1px solid rgb(151, 151, 151);
        border-radius: 5px;
       


        img {
            width: 150px;
        }
    }

}
@media (width <= 768px) {
.section_1 {

 display: block !important;
 >div>img{
display: none !important;
 }
    
   
}
.section_2{
    display: block;
}
.section_3{
    margin-left: 10%;
    margin-right: 10%;
}
}