:root {
  --primary: #0d6efd;
  --secondary: #067BB1;
  --accent: #FFCC00;
  --accent-secondary: #E62200;
  --light: #FFFFFF;
  --dark: #505a69;
  --gray: #F4F6F9;
  --text: #505a69;
  --success-color: #218739;
  --danger-color: #dc3545;
  --font-family: 'Goblin One' Tahoma, Geneva, Verdana, sans-serif;
  --background-color: var(--gray);
   --btn-color:#067BB1 ;

}

body {
  padding-top: 150px; /* header yüksekliğine göre ayarla */
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--gray);
  color: var(--text-color);
  width: 100%;
  overflow-x: hidden;


}

.flex {
  display: flex;
  justify-content: space-around;
}


/* marcher pas */
input {
  width: 100%;
  padding: 5px;
  border: 1px solid #aaa;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* Buttons */
button {
  width: 100%;
  margin-top: 10px;
  padding: 5px;
  border: none;
  border-radius: 4px !important;
  cursor: pointer;
  background-color: var(--btn-color) !important;
  color: white;
  transition: 0.3s;
  font-size: small;
  font-weight: bold;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

button:hover {
  background-color: var(--accent-secondary);
}


a {
  text-decoration: none !important;
  color:white;
 
}

a:hover {
  color: var(--accent-secondary);
}

.box-shadow {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.d-sm-flex {
        margin-left: 5%;
        margin-right: 5%;
}
@media (max-width: 768px) {
    .d-sm-flex{
        display:block !important;
        margin-left: 20px !important;
    margin-right: 20px !important;
    }
       .right-menu{
      margin-top: 20px !important;
    }
  body {
    margin-top: 12%;
    padding-top: 5%;
 
  }
h2{
    font-size: medium;
  }
  table, p, h3, button, label, a, select {
    font-size: small;
    
  }
  /* img{
    width: 100px;
    height: 100px;
  } */
.navbar{
  --bs-navbar-padding-y: 0 !important;
}
}
@media (max-width: 500px) {
  body {
    margin-top: 20% !important;
    padding-top: 5%;
 
  }
h2{
    font-size: medium;
  }
  table, p, h3, button, label, a, select {
    font-size: small;
    
  }
  /* img{
    width: 100px;
    height: 100px;
  } */
.navbar{
  --bs-navbar-padding-y: 0 !important;
}
}
.toast-message {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 15px 20px;
  color: white;
  border-radius: 5px;
  z-index: 9999;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  font-size: 16px;
}

.toast-message.success {
  background-color: #28a745;
}

.toast-message.error {
  background-color: #dc3545;
}

.toast-message.info {
  background-color: #17a2b8;
}

.my-5 {
  margin-top: 1rem !important;
  margin-bottom: 3rem !important;
}
