.profil-updt {
    margin-left: 2%;
    width: 200px;

}

.profile {
    display: flex;
    justify-content: flex-start !important;
    align-items: baseline;
    gap: 5%;
    margin-bottom: 5%;
    padding: 2%;

    img{       
        border-radius: 25%;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        margin-bottom: 25px;
    }
      
}

.gender {
    width: 100%;
    padding: 5px;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-sizing: none !important;
    box-shadow:none !important;
}

@media(max-width:800px) {
    .profil-updt {
        width: 40% !important;
    }


.profile {
        display: block !important;
        img{
            width: 30% !important;
            margin-bottom: 15px !important;
        }
    }
}

@media(max-width:500px) {

    .profil-updt {
        width: 100% !important;
    }

    .profile {
        display: block !important;
        img{
            width: 20% !important;
            margin-bottom: 15px !important;
        }
    }
    

}