.left-menu {
    padding: 3% 2% 2% 2%;
    background-color: var(--light);
    color: var(--light);
    font-weight: bold;
    cursor: pointer;
}


.right-menu {
    width: 70%;
    background-color: var(--light);
    font-weight: bold;
    padding: 2% 2% 2% 2%;

    .item {
        display: flex;
        justify-content: space-between;
        gap: 10%;
    }


}

@media(max-width:700px) {
    .right-menu {
        width: auto;
        margin-top: 2%;

        .item {
            display: flex;
            justify-content: space-between;
        }


        
    }
}